    *{
        margin: 0;
        padding: 0;
}
.body   {
    font-family: 'Times New Roman', Times, serif;

}

.tic {
    font-size: 53px;
    position: absolute;
    top: 7%;
    left: 40%;
    color: black;

}
.turno {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    position: absolute;
    top: 17%;
    left: 41%;
    color: black;

}

.container{
    position: absolute;
    top: 23%;
    left: 38%;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;

}

.container > div {
    background-color: wheat;
    display: grid;
    place-items: center;
    padding: 10;
    border-radius: 10px;
    border: 10px;
    box-shadow: slategray;
    cursor: pointer;
    font-size: 60px;
    color: black;
}

.Restart{
    position: absolute;
    left: 49%;
    top: 80%;
    width: auto;
    background-color: white;
    cursor: pointer;
}

.re{
    width: 25px;
    height: 25px;
    background-color: white;
    box-shadow: wheat;
}

.winner {
    color: blueviolet;
}